@bg-color: rgba(75, 75, 75, .9);
@screen-height: 40em;


@font-face {
  font-family: "digital";
  src: url("/css/fonts/digital-7.ttf");
}

body {
  background-color: @bg-color;
}

ul {
  list-style: none;
}

.machine {
  min-height: @screen-height;
  background-size: 100% 100%;
  position: relative;
}

.machine-interface {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  top: 0px;
  background-color: rgba(20, 20, 20, .5);
  padding: 2em;
}

.out-of-service {
  background-color: rgba(20, 20, 20, .9);
}

.beverageLogo {
  min-height: 7em;
  min-width: 15em;
  max-width: 25%;
  margin: 1em 1em;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background-size: 100% 100%;
}

.coin-display {
  text-align: center;
  background-color: rgba(20, 20, 20, .7);
}

.coin-display  > h1 {
  font-family: "digital";
  color: rgba(200, 20, 20, .8);
}
