extends ../shared/template
block content
  h1 It's Beer Thirty, yo!

  if machine
    if machine.hasChange
      p Has Change
    else
      p Out of Change
    img(src=machine.image)

    each beverage in beverageTypes
      h5= beverage.name
      img(src=beverage.image)
      if beverage.isOut
        h5 It's out

