extends ../shared/template
block content

  if machine
    if machine.hasChange
      - var coinCount = '0.00';
    else
      - var coinCount = 'OUT OF SERVICE';

    .machine(style="background-image: url(" + machine.image + ");")
      .machine-interface
        .row
          .small-8.columns
            each beverage in beverageTypes
              .beverageLogo(style="background-image: url(" + beverage.image + ");")
                if beverage.isOut
                  h5 It's out
          .small-4.columns
            .coin-display
              h1= coinCount
        .row
          .small-12.columns.wallet
            .row
              .small-2.columns
                .currency.five-dollar
              .small-2.columns
                .currency.dollar-bill
              .small-2.columns
                .currency.dollar-coin
              .small-2.columns
                .currency.quarter
              .small-2.columns
                .currency.dime
              .small-2.columns
                .currency.nickel




